@namespace svg url("http://www.w3.org/2000/svg");

body {
  margin: 0;
}

.spl-splitter-container .spl-splitter {
  background-color: #ccc;
}
.spl-splitter-container .spl-pane {
  overflow-x: hidden;
  overflow-y: hidden;
}
.spl-splitter-container .spl-pane.controls-pane {
  margin: 0.5em;
  overflow-y: scroll;
}

svg|g#pdfmcr-page-group {
  user-select: none;
}
