{% extends "_base.html" %}

{% block addhead %}
<meta name="pdfmcr-page-number" value="{{ page_number }}" />
<script type="text/javascript">
  PdfMcr.Annotations.init({
    "annotations": {{ page.annotations|json|safe }},
    "artifacts": {{ page.artifacts|json|safe }},
  });
</script>
{% endblock %}

{% block body %}
<div class="overall-container">
  <div class="spl-splitter-container" style="display:flex;width:100%;height:100vh">
    <div class="spl-pane">
      <svg width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g id="pdfmcr-page-group">
          <image x="0" y="0" width="{{ page.scanned_image.info.width_pt().unwrap() }}pt" height="{{ page.scanned_image.info.height_pt().unwrap() }}pt" href="/page/{{ page_number }}/image" />
        </g>
      </svg>
    </div>
    <div class="spl-splitter"></div>
    <div class="spl-pane controls-pane">
      <details>
        <summary>Add a page</summary>
        <form action="/page" method="post" enctype="multipart/form-data">
          <input type="file" name="background-image" required="required" />
          <input type="submit" value="add" />
        </form>
      </details>
      <p>
        {% if page_number > 0 %}
          <a href="/page/0">&#x21D0;</a>
          <a href="/page/{{ page_number - 1 }}">&#x2190;</a>
        {% else %}
          <span class="inactive-link">&#x21D0;</span>
          <span class="inactive-link">&#x2190;</span>
        {% endif %}
        {% if page_count > 0 && page_number < page_count - 1 %}
          <a href="/page/{{ page_number + 1 }}">&#x2192;</a>
          <a href="/page/{{ page_count - 1 }}">&#x21D2;</a>
        {% else %}
          <span class="inactive-link">&#x2192;</span>
          <span class="inactive-link">&#x21D2;</span>
        {% endif %}
      </p>
      <p>
        <form id="pdfmcr-new-annotation-form" action="javascript:void(0)">
          <input type="text" />
          <input type="submit" value="add annotation" />
        </form>
      </p>
      <p>
        <input type="button" value="reset view" id="pdfmcr-reset-view" />
      </p>
      <p>
        <input type="button" value="save" id="pdfmcr-save" />
      </p>
    </div>
  </div>
</div>
{% endblock %}
